@using GentlemensClub.Models.Stocks
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    IEnumerable<Data> stockList = ViewBag.StockList;
    var maxPage = ViewBag.MaxPage;
    int page = ViewBag.Page;
    var current = page;
    var prev = page - 1;
    var next = page + 1;
}
@if (page > 1)
{
    <span><a asp-area="" asp-controller="Investment" asp-action="Stocks" asp-route-page="@prev"><button>P</button></a></span>
}
<span>@current</span>
@if (page < maxPage)
{
    <span><a asp-area="" asp-controller="Investment" asp-action="Stocks" asp-route-page="@next"><button>N</button></a></span>
}
<div>
    @foreach (var element in stockList)
    {
        <div class="card">
            <a asp-area="" asp-controller="Investment" asp-action="StockInfo" asp-route-symbol="@element.Symbol">@element.Name</a>
            <div>@element.Symbol</div>
        </div>
    }
</div>