@{
    Layout = "_FinanceLayout";
}

@using GentlemensClub.Models.YearlyStatistics
@{
    IEnumerable<Months> yearlyInfo = ViewBag.YearlyInfo;
}

<div class="text-white d-flex flex-wrap justify-content-center"><h1>Past year statistics</h1></div>

@if (yearlyInfo.Count().Equals(0))
{
    <div class="text-white d-flex flex-wrap justify-content-center"><h2>No available data!</h2></div>
}
<div class="d-flex flex-wrap">
    @foreach (var element in yearlyInfo)
    {
        <div class="stock card bg-dark text-white border-light">
            <div>@element.Date</div>
            <div>High: @element.High</div>
            <div>Low: @element.Low</div>
            <div>Open: @element.Open</div>
            <div>Close: @element.Close</div>
            <div>Volume: @element.Volume</div>
        </div>
    }
</div>
