@{
    Layout = "_FinanceLayout";
}

@using GentlemensClub.Models.WeeklyStatistics
@{
    IEnumerable<Days> weeklyInfo = ViewBag.WeeklyInfo;
}

<div class="text-white d-flex flex-wrap justify-content-center"><h1>Past week statistics</h1></div>

@if (weeklyInfo.Count().Equals(0))
{
    <div class="text-white d-flex flex-wrap justify-content-center"><h2>No available data!</h2></div>
}

<div class="d-flex flex-wrap">
    @foreach (var element in weeklyInfo)
    {
        <div class="stock card bg-dark text-white border-light">
            <div>@element.Date</div>
            <div>High: @element.Data.High</div>
            <div>Low: @element.Data.Low</div>
            <div>Open: @element.Data.Open</div>
            <div>Close: @element.Data.Close</div>
            <div>Volume: @element.Data.Volume</div>
        </div>
    }
</div>
